<div class="top-bar__item">
    <div class="dropdown top-bar__avatar-dropdown">
        <a href="javascript: void(0);" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
            <span class="d-none d-xl-inline-block">User:
                <strong>Admin</strong>
           </span>
        </a>
        <div class="dropdown-menu dropdown-menu-right" role="menu">
            <a class="dropdown-item" href="javascript:void(0)"><i class="dropdown-icon icmn-user"></i> Profile</a>
            <div class="dropdown-divider"></div>
<!--            <div class="dropdown-header">Home</div>-->
<!--            <a class="dropdown-item" href="javascript:void(0)"><i class="dropdown-icon icmn-circle-right"></i> System-->
<!--                Dashboard</a>-->
<!--            <a class="dropdown-item" href="javascript:void(0)"><i class="dropdown-icon icmn-circle-right"></i> User Boards</a>-->
<!--            <a class="dropdown-item" href="javascript:void(0)"><i class="dropdown-icon icmn-circle-right"></i> Issue-->
<!--                Navigator (35 New)</a>-->
<!--            <div class="dropdown-divider"></div>-->
            <a class="dropdown-item" href="javascript: document.logoutForm.submit()"><i class="dropdown-icon icmn-exit"></i> Logout</a>

            <form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">
                <input hidden type="submit" value="Sign Out"/>
            </form>
        </div>
    </div>
</div>