<div class="card-body">
<div class="row">
    <div class="col-lg-8">

        <div class="row">
            <div class="col-lg-6">
                <div class="form-group">
                    <label for="l301">Title</label>
                   <form method="POST"  th:action="@{/countries/edit}" th:object="${country}">
                       <input type="hidden" th:field="*{id}" />
                    <input type="text" th:value="${country.name}" th:field="*{name}" class="form-control" id="l301" required minlength="4">
                </div>
            </div>
        </div>

        <div class="form-actions">
            <button type="submit" class="btn btn-primary width-150">Save</button>
            <a th:href="@{/countries/delete/(countryId=${country.id})}"
               class="btn btn-default"
               onclick="if (!(confirm('Are you sure you want to delete this product?'))) return false">
                Delete
            </a>
            </form>
        </div>
    </div>
</div>
</div>
