<div class="card-body">
    <div class="row">
        <div class="col-lg-8">
            <h4 class="text-black mb-3"><strong>Social</strong></h4>
            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group">
                        <label for="l301">Instagram username</label>
                        <p th:text="${influencer.profileName}" class="form-control" id="l301">Influencer ProfileName</p>
                        <label for="l301">Instagram followers</label>
                        <p th:text="${instagramProfile.followersNumbers}" class="form-control" id="l301">Instagram
                            followers</p>
                        <label for="l301">Instagram average likes</label>
                        <p th:text="${instagramProfile.averageLikes}" class="form-control" id="l301">Instagram
                            followers</p>
                        <label for="l301">Instagram average comments</label>
                        <p th:text="${instagramProfile.averageComments}" class="form-control" id="l301">Instagram
                            followers</p>
                    </div>
                </div>
            </div>

            <br/>
            <h4 class="text-black mb-3"><strong>Personal Info</strong></h4>
            <!--            First Name -->
            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group">
                        <label for="l30">First Name</label>
                        <p th:text="${personalDetails.firstName}" class="form-control" id="l30">Influencer First
                            Name</p>
                    </div>
                </div>
                <!--            Last Name -->
                <div class="col-lg-6">
                    <div class="form-group">
                        <label for="l31">Last Name</label>
                        <p th:text="${personalDetails.lastName}" class="form-control" id="l31">Influencer Last Name</p>
                    </div>
                </div>
            </div>
            <br/>
            <h4 class="text-black mb-3"><strong>Contacts</strong></h4>
            <!--            Phone -->
            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group">
                        <label for="l30">Phone</label>
                        <p th:text="${personalDetails.phone}" class="form-control" id="l30">Influencer Phone</p>
                    </div>
                </div>
                <!--            Email -->
                <div class="col-lg-6">
                    <div class="form-group">
                        <label for="l31">Email</label>
                        <p th:text="${personalDetails.email}" class="form-control" id="l31">Influencer Email</p>
                    </div>
                </div>
            </div>
            <br/>
            <!--           Country -->
            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group">
                        <label for="l30">Country</label>
                        <p th:text="${influencer.country.name}" class="form-control" id="l30">Influencer Country</p>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="form-group">
                        <label for="l30">Address</label>
                        <p th:text="${personalDetails.address}" class="form-control" id="l30">Influencer Address</p>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="form-group">
                        <label for="l30">Status</label>
                        <p th:text="${influencer.status}" class="form-control" id="l30">Influencer Status</p>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="form-control-label" for="l15">Notes</label><br/>
                <textarea readonly th:text="${influencer.notes}" class="form-control" rows="3"
                          id="l15">Notes of client</textarea>
            </div>
        </div>

        <div class="col-lg-4">
            <h5 class="text-black"><strong>Assigned Products</strong></h5>
            <div class="mb-5">
                <table class="table">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Product for review</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>1</td>
                        <td>Shampoo</td>
                        <td><a th:href="@{#}"
                               class="utils__link--underlined mr-2"
                               onclick="if (!(confirm('Are you sure you want to delete this Assignment?'))) return false">
                            <i class="icmn-bin2"></i> Delete</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div class="form-group has-focused">
                    <form >
                            <select class="form-control" id="l13">
                                <option value="" >Select Product</option>
                                <option th:each="product: ${product}" th:value="${product.id}" th:text="${product.name}"></option>
                            </select>
                        <button class="btn btn-primary btn-sm" type="submit">Assign</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <br/>
    <br/>

    <!--    2 Table Block -->
    <div class="row">
        <!--        Dates Contacted Table -->
        <div class="col-lg-6">
            <h5 class="text-black"><strong>Dates Contacted</strong></h5>
            <div class="mb-5">
                <table class="table">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Note</th>
                        <th>Date Contacted</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="dateContacted, dateStat : ${influencer.daysContacted}">
                        <td th:text="${dateStat.count}"></td>
                        <td th:text="${dateContacted.note}">Day Contacted</td>
                        <td th:text="${#dates.format(dateContacted.createdAt, 'yyyy-MM-dd HH:mm')}">Time</td>
                        <td><a th:href="@{/influencer/view/{influID}/deleteDay/{dayId}(influID=${influencer.id},dayId=${dateContacted.id})}"
                               class="utils__link--underlined mr-2"
                               onclick="if (!(confirm('Are you sure you want to delete this Date?'))) return false">
                            <i class="icmn-bin2"></i> Delete</a>
                        </td>

                    </tbody>
                </table>
                <div class="form-group has-focused">
                    <form th:action="@{${#httpServletRequest.requestURI} + '/addDayContacted'}" th:object="${dayContacted}"
                          method="post">
                        <input type="text" th:field="*{note}" class="form-control"
                               placeholder="Enter a note..." id="l8">
                        <button class="btn btn-primary btn-sm" type="submit">Add Record</button>
                    </form>
                </div>
            </div>
        </div>
        <!--        Reviews Table -->
        <div class="col-lg-6">
            <h5 class="text-black"><strong>Reviews</strong></h5>
            <div class="mb-5">
                <table class="table">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Review Link</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="rvw, stat: ${influencer.reviews}">
                        <td th:text="${stat.count}"></td>
                        <td><a th:href="@{${rvw.link}}" th:target="_blank" class="utils__link--underlined"
                               th:text="${rvw.link}">Link</a></td>
                        <td><a th:href="@{/influencer/view/{influID}/deleteReview/{reviewId}(influID=${influencer.id},reviewId=${rvw.id})}"
                               class="utils__link--underlined mr-2"
                               onclick="if (!(confirm('Are you sure you want to delete this review?'))) return false">
                            <i class="icmn-bin2"></i> Delete</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div class="form-group has-focused">
                    <form th:action="@{${#httpServletRequest.requestURI} + '/addReview'}" th:object="${review}"
                          method="post">
                        <input type="text" th:field="*{link}" class="form-control"
                               placeholder="Enter link of new review..." id="l8">
                        <button class="btn btn-primary btn-sm" type="submit">Add Review</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
