<div class="card-body">
    <div class="row">
        <div class="col-lg-8">
            <h4 class="text-black mb-3"><strong>Social</strong></h4>
            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group">
                        <label for="l301">Instagram username</label>
                        <form method="POST" th:action="@{/influencer/edit}" th:object="${influencer}">
                            <input type="hidden" th:field="*{id}"/>
                            <input type="hidden" th:value="${personalDetails.id}" th:name="personalDetails"
                                   id="personalDetails"/>
<!--                            <input type="hidden" th:value="${instagramProfile.id}" th:name="instagramProfile"-->
<!--                                   id="instagramProfile"/>-->
                            <input type="text" th:value="${influencer.profileName}" th:field="*{profileName}"
                                   class="form-control" id="l301" required>
                            <label for="l301">Instagram followers</label>
                            <input type="text" th:value="${instagramProfile.followersNumbers}"
                                   th:field="*{instagramProfile.followersNumbers}"
                                   class="form-control" id="l301">
                            <label for="l301">Instagram average likes</label>
                            <input type="text" th:value="${instagramProfile.averageLikes}"
                                   th:field="*{instagramProfile.averageLikes}"
                                   class="form-control" id="l301">
                            <label for="l301">Instagram average comments</label>
                            <input type="text" th:value="${instagramProfile.averageComments}"
                                   th:field="*{instagramProfile.averageComments}"
                                   class="form-control" id="l301">
                    </div>
                </div>
            </div>
            <br/>
            <h4 class="text-black mb-3"><strong>Personal Info</strong></h4>

            <!--                       First Name -->
            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group">
                        <label for="l30">First Name</label>
                        <input type="text" th:value="${personalDetails.firstName}"
                               th:field="*{personalDetails.firstName}" class="form-control" id="l30" required>

                    </div>
                </div>
                <!--            Last Name -->
                <div class="col-lg-6">
                    <div class="form-group">
                        <label for="l31">Last Name</label>
                        <input type="text" th:value="${personalDetails.lastName}"
                               th:field="*{personalDetails.lastName}" class="form-control" id="l31" required>
                    </div>
                </div>
            </div>
            <br/>
            <h4 class="text-black mb-3"><strong>Contacts</strong></h4>
            <!--            Phone -->
            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group">
                        <label for="l30">Phone</label>
                        <input type="text" th:value="${personalDetails.phone}"
                               th:field="*{personalDetails.phone}" class="form-control" id="l30" required>
                    </div>
                </div>
                <!--            Email -->
                <div class="col-lg-6">
                    <div class="form-group">
                        <label for="l31">Email</label>
                        <input type="text" th:value="${personalDetails.email}"
                               th:field="*{personalDetails.email}" class="form-control" id="l31" required>
                    </div>
                </div>
            </div>
            <br/>
            <!--            Country -->
            <div class="form-group">
                <label for="l13">Country</label>
                <select th:field="*{influencer.country}" class="form-control" id="l13" th:required="true">
                    <option value="" >Choose a country</option>
                    <option th:each="country: ${country}" th:value="${country.id}" th:text="${country.name}" ></option>
                </select>
            </div>
            <br/>


            <!--            Address-->
            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group">
                        <label for="l30">Address</label>
                        <input type="text" th:value="${personalDetails.address}" th:field="*{personalDetails.address}"
                               class="form-control" id="l30" required>
                    </div>
                </div>
            </div>

            <!--            Description -->
            <div class="form-group">
                <label class="form-control-label" for="l15">Notes</label>
                <textarea th:field="*{influencer.notes}" th:text="${influencer.notes}" class="form-control" rows="3"
                          id="l15"></textarea>
            </div>
            <br/>
            <!--            Status-->
            <div class="form-group">
                <label for="l13">Status</label>
                <select th:field="*{influencer.status}" class="form-control" id="l13" th:required="true">
                    <option value="">Assign Status</option>
                    <option value="Contacted">Contacted</option>
                    <option value="Active">Active</option>
                    <option value="First Review">First Review</option>
                    <option value="Second Review">Second Review</option>
                    <option value="Completed">Completed</option>
                    <option value="Rejected">Rejected</option>
                </select>
            </div>
            <br/>

            <!--            Action Buttons-->
            <div class="form-actions">
                <button type="submit" class="btn btn-outline-primary mr-2 mb-2 width-150">Create</button>

                </form>
            </div>
        </div>
    </div>
</div>
