<div class="card-body">
    <div class="row">
        <div class="col-lg-8">
            <h4 class="text-black mb-3"><strong>Social</strong></h4>
            <span>Instagram username</span>
            <br/>
            <span th:text="|The name is ${influencer.profileName}|"></span>
            <br/>
            <h4 class="text-black mb-3"><strong>Personal Info</strong></h4>
            <!--            First Name -->

            <br/>
            <h4 class="text-black mb-3"><strong>Contacts</strong></h4>
            <!--            Phone -->

            <div class="row">
            <div class="col-lg-4">
                <!-- Body Copy -->
                <div class="mb-5">
                    <h5 class="text-black">
                        <strong>Body Copy</strong>
                    </h5>
                    <p>Bootstrap's global default <code>font-size</code> is
                        <strong>1rem</strong>, with a <code>line-height</code> of
                        <strong>1.5</strong>. This is applied to the <code>&lt;body&gt;</code> and all paragraphs. In addition, <code>&lt;p&gt;</code> (paragraphs)
                        receive a bottom margin of half their computed line-height (1rem
                        by default)</p>
                </div>
                <!-- End Body Copy -->
            </div>
            <div class="col-lg-4">
                <!-- Highlight -->
                <div class="mb-5">
                    <h5 class="text-black">
                        <strong>Highlight</strong>
                    </h5>
                    <p>For highlighting a run of text due to its relevance in another
                        context, use the <code>&lt;mark&gt;</code> tag. Like this:</p>
                    <p>You can use the mark tag to
                        <mark>highlight</mark> text</p>
                </div>
                <!-- End Highlight -->
            </div>
            <div class="col-lg-4">
                <!-- Addresses -->
                <div class="mb-5">
                    <h5 class="text-black">
                        <strong>Addresses</strong>
                    </h5>
                    <p>Present contact information for the nearest ancestor or the entire
                        body of work. Preserve formatting by ending all lines with <code>&lt;br&gt;</code></p>
                    <address>
                        <strong>Twitter, Inc.</strong>
                        <br> 795 Folsom Ave, Suite 600
                        <br> San Francisco, CA 94107
                        <br>
                        <abbr title="Phone">P:</abbr> (123) 456-7890
                    </address>
                    <address>
                        <strong>Full Name</strong>
                        <br>
                        <a href="mailto:#">first.last@example.com</a>
                    </address>
                </div>
                <!-- End Addresses -->
            </div>
        </div>

            <br/>
            <!--            Country -->

            <br/>
            <!--            Address-->


            <!--            Description -->

            <br/>


            <br/>

            <!--            Action Buttons-->

        </div>
    </div>
</div>
