<div class="card-body">
    <div class="row">
        <div class="col-lg-8">
            <h5 class="text-black mb-3"><strong>Social</strong></h5>

            <span th:text="|The name is ${influencer.profileName}|"></span>
            <br/>

            <h5 class="text-black mb-3"><strong>Personal Info</strong></h5>

            <!--            First + Last Name -->
            <address>
                <strong>Full Name</strong>
                <br>
                <p th:text="${influencer.personalDetails.firstName} + ' ' + ${influencer.personalDetails.lastName}"></p>
            </address>
            <br/>
            <h5 class="text-black mb-3"><strong>Contacts</strong></h5>
            <br/>
            <!--            Phone -->

            <br/>


            <!--            Country -->

            <br/>
            <!--            Address-->


            <!--            Description -->

            <br/>


            <br/>

            <!--            Action Buttons-->

        </div>
    </div>
</div>
