<div class="card-body">
    <div class="row">
        <div class="col-lg-8">
            <h4 class="text-black mb-3"><strong>Social</strong></h4>
            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group">
                        <label for="l301">Instagram username</label>
                        <form method="POST">
                            <input type="hidden"/>
                            <input type="text" class="form-control" id="l301">
                    </div>
                </div>
            </div>
            <br/>
            <h4 class="text-black mb-3"><strong>Personal Info</strong></h4>
            <!--            First Name -->
            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group">
                        <label for="l30">First Name</label>
                        <input type="text" class="form-control" id="l30">
                    </div>
                </div>
                <!--            Last Name -->
                <div class="col-lg-6">
                    <div class="form-group">
                        <label for="l31">Last Name</label>
                        <input type="text" class="form-control" id="l31">
                    </div>
                </div>
            </div>
            <br/>
            <h4 class="text-black mb-3"><strong>Contacts</strong></h4>
            <!--            Phone -->
            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group">
                        <label for="l30">Phone</label>
                        <input type="text" class="form-control" id="l30">
                    </div>
                </div>
                <!--            Email -->
                <div class="col-lg-6">
                    <div class="form-group">
                        <label for="l31">Email</label>
                        <input type="text" class="form-control" id="l31">
                    </div>
                </div>
            </div>
            <br/>
            <!--            Country -->
            <div class="form-group">
                <label for="l13">Country</label>
                <select class="form-control" id="l13">
                    <option value="Lithuania">Lithuania</option>
                </select>
            </div>
            <br/>
            <!--            Address-->
            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group">
                        <label for="l30">Address</label>
                        <input type="text" class="form-control" id="l30">
                    </div>
                </div>
            </div>

            <!--            Description -->
            <div class="form-group">
                <label class="form-control-label" for="l15">Notes</label>
                    <textarea class="form-control" rows="3" id="l15"></textarea>
            </div>
            <br/>

            <!--            Status -->
            <div class="form-group">
                <label for="l13">Status</label>
                <select class="form-control" id="l13">
                    <option value="Contacted">Contacted</option>
                    <option value="Active">Active</option>
                    <option value="First Review">First Review</option>
                    <option value="Second Review">Second Review</option>
                    <option value="Completed">Completed</option>
                    <option value="Rejected">Rejected</option>
                </select>
            </div>
            <br/>

            <!--            Action Buttons-->
            <div class="form-actions">
                <button type="submit" class="btn btn-primary width-150">Save</button>

                </form>
            </div>
        </div>
    </div>
</div>