<div class="card-body">
    <table class="table table-hover nowrap" id="example1">
        <thead class="thead-default">
        <tr>
            <th>Name</th>
            <th>Last Modified</th>
            <th>Action</th>

        </tr>
        </thead>
        <tbody>
        <tr th:each="products : ${products}">
            <td th:text="${products.name}">LastIP</td>
<!--            not done -->
            <td th:text="${products.updatedAt}">Last Updated</td>
            <td>
                <a th:href="@{'/products/edit/' + ${products.id}}" class="utils__link--underlined mr-2"><i class="icmn-pencil"><!-- --></i> Edit</a>
            </td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
            <th>Name</th>
            <th>Last Modified</th>
            <th>Action</th>


        </tr>

        </tfoot>
    </table>
</div>