.sliderCard__body {
    display: block;
    height: 10.76rem;
    position: relative;
    width: 100%;
    padding: 1.92rem 2.3rem;
    overflow: hidden;
}

.sliderCard__icon {
    display: inline-block;
    font-size: 6.15rem;
    position: absolute;
    z-index: 1;
    bottom: -3.08rem;
    right: -1.93rem;
    opacity: .4;
}
