<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head data-th-replace="/fragments/headerElements.html"></head>

<body class="config--vertical config--borderLess menu-left--colorful">
<nav data-th-replace="/fragments/side-menu/sideNavigation.html"></nav>

<div data-th-replace="/fragments/top-menu/navigation.html"></div>

        <div data-th-replace="/fragments/body-elements/dashboard/dashboard-view.html"></div>

</body>
</html>