<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head data-th-replace="/fragments/headerElements.html"></head>

<body class="config--vertical config--borderLess menu-left--colorful">
<nav data-th-replace="/fragments/side-menu/sideNavigation.html"></nav>

<div data-th-replace="/fragments/top-menu/navigation.html"></div>
<!-- influences info-->
<div class="utils__content">
    <div class="card">
        <div class="card-header">
        <span class="utils__title">
            <h1><strong>Influencer Info</strong></h1>
        <a th:href="@{'/influencer/edit/' + ${id}}" class="btn btn-sm btn-outline-primary mr-2 mb-2">Edit profile</a>
        </span>
        </div>
        <div data-th-replace="/fragments/body-elements/influencer/influencer-data-view.html"></div>
    </div>
    <script src="/js/dataTableFunctions.js"></script>
</div>
</body>
</html>
